{%load static from staticfiles%}

<!Doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width = 1050,user-scalable = no " />
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/basic.css' %}" />
<script type="text/javascript" src="{% static 'mainapp/extras/jquery.min.1.7.js' %}"></script>
<script type="text/javascript" src="{% static 'mainapp/extras/modernizr.2.5.3.min.js' %}"></script>
</head>
<body>
	<div  class="open">
			<span class="cls"></span>
			<span>
					<ul class="sub-menu ">
									<li>
											<a href="{% url 'mainapp:index' %}" title="home">Home</a>
									</li>
									<li>
											<a href="{% url 'mainapp:instructions' %}" title="instr">Instructions</a>
									</li>
									<!-- <li>
											<a href="#" title="lead">Leaderboard</a>
									</li> -->
									<li>
											<a href="{%  url 'mainapp:login' %}" title="regis">Login</a>
									</li>

					</ul>
			</span>
			<span class="cls"></span>
	</div>

<div class="flipbook-viewport">
	<div class="container">
		<div class="flipbook">
			<div style="background-image:url( {% static 'mainapp/img/pages/page0.png' %} )"></div>
			<div style="background-image:url( {% static 'mainapp/img/pages/page1.png' %} )"></div>
			<div style="background-image:url( {% static 'mainapp/img/pages/page2.png' %} )"></div>
			<div style="background-image:url( {% static 'mainapp/img/pages/page3.png' %} )"></div>
			<!-- <div style="background-image:url( {% static 'mainapp/img/pages/2.jpg' %} )"></div>
			<div style="background-image:url( {% static 'mainapp/img/pages/4.jpg' %} )"></div>
			<div style="background-image:url( {% static 'mainapp/img/pages/2.jpg' %} )"></div> -->
		</div>
	</div>
</div>


<script type="text/javascript">

function loadApp() {

	$('.flipbook').turn({
			// Width

			width:800,

			// Height

			height:500,

			// Elevation

			elevation: 50,

			// Enable gradients

			gradients: true,

			// Auto center this flipbook

			autoCenter: true

	});
}

yepnope({
	test : Modernizr.csstransforms,
	yep: ['{% static 'mainapp/lib/turn.js' %}'],
	nope: ['{% static 'mainapp/lib/turn.html4.min.js' %}'],
	both: ['{% static 'mainapp/css/basic.css' %} '],
	complete: loadApp
});

</script>
<script type ="text/javascript" src="{% static 'mainapp/js/main.js' %}"></script>
</body>
</html>
