<!DOCTYPE html>
<html lang="en" class="no-js">
{% load static from staticfiles %}
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'mainapp/css/login.css' %}">
		<link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
		<script src="{% static 'mainapp/js/jquery.min.js' %}"></script>
		  </head>

	<body>
		<div  class="open">
				<span class="cls"></span>
				<span>
						<ul class="sub-menu ">
									<li>
											<a href="{% url 'mainapp:index' %}" title="home">Home</a>
									</li>
									<li>
											<a href="{% url 'mainapp:instructions' %}" title="instr">Instructions</a>
									</li>
									<!-- <li>
											<a href="#" title="lead">Leaderboard</a>
									</li> -->
									<li>
											<a href="{% url 'mainapp:login' %}" title="regis">Login</a>
									</li>
							</ul>
				</span>
				<span class="cls"></span>
		</div>


		<div class="panel">
		  <ul class="panel__menu" id="menu">
		    <hr/>
		    <li id="signIn"> <a href="#">Log In</a></li>
		    <li id="signUp"><a href="#">&emsp;Sign up</a></li>
		  </ul>


		  <div class="panel__wrap">
		    <div class="panel__box active" id="signInBox">
		  <form id="login-form" action="{% url 'mainapp:login' %}" role="form" style="display: block;" method="POST" >
                {% csrf_token %}

                {% if error_message %}
                  {{ error_message }}
                {% endif %}

		      <label>Team name
		        <input data-check="teamname"  type="text" name="teamname" id="teamname" placeholder="Teamname" value="" >
		      </label>
		      <label>Password
		        <input type="password" name="password" id="password" placeholder="Password">
		      </label>
		      <input type="submit" name="login-submit" value="login"/>
		</form>
		    </div>



		    <div class="panel__box" id="signUpBox">
			<form id = "register-form" action ="{% url 'mainapp:register' %}" role="form" style="display: block;" method="POST" >
			{% csrf_token %}

                {% if error_message %}
                  {{ error_message }}
                {% endif %}
				      <label>Team name
		        <input  type="text" name="teamname1" id="team"    placeholder="Teamname">
		      </label>
			  <label>BITS ID1
		        <input  type="text" name="idno1" id='id1'   placeholder="BITS ID number">
		      </label>
		      <label>BITS ID2
		        <input  type="text" name="idno2" id='id2'    placeholder="BITS ID number(optional)">
		      </label>
		      <label>Password
		        <input type="password" name="password1" id='pass' placeholder="Password" >
		      </label>
					<input type="submit" name= "register-submit" value="Register Now"/>
			</form>
		    </div>
		  </div>
		  </div>


			<div id="msg_box"></div>
		<script>



			$("#register-form").submit(function(event){
					event.stopPropagation();
    			event.preventDefault();
					var datas={
						teamname1 : $('#team').val(),
						idno1 : $('#id1').val(),
						idno2 : $('#id2').val(),
						password1 : $('#pass').val(),
						csrfmiddlewaretoken: document.cookie.split("=")[1]
					}
					console.log(datas);
					var options = {
        	success:       showResponse,  // post-submit callback
					error: showError,
					data: datas,
        	url:       '/register',         // override for form's 'action' attribute
        	type:      'POST',        // 'get' or 'post', override for form's 'method' attribute
    	};
			$.ajax(options);
			return false;
		});


		$("#login-form").submit(function(event){
				event.stopPropagation();
				event.preventDefault();
				var datas={
					teamname : $('#teamname').val(),
					password : $('#password').val(),
					csrfmiddlewaretoken: document.cookie.split("=")[1]
				}
				console.log(datas);
				var options = {
				success:       showRes,  // post-submit callback
				error: showErr,
				data: datas,
				url:       '/login',         // override for form's 'action' attribute
				type:      'POST',        // 'get' or 'post', override for form's 'method' attribute
		};
		$.ajax(options);
		return false;
	});

			function showResponse(msg) {
				msgb("Successfully Registered In")
				window.location='/login';
				console.log(msg)
			}
			function showError(msg){
				console.log(msg);
				var errors=JSON.parse(msg['responseText']);
				msgb(errors.msg)
			}

			function showRes(msg) {
							msgb("Successfully Logged In")
							window.location='/game';
							console.log(msg)
						}
			function showErr(msg){
							console.log(msg);
							var errors=JSON.parse(msg['responseText']);
							msgb(errors.msg)
				}

				function msgb(string){
					console.log('msgb called')
					$("#msg_box").html(string);
					$("#msg_box").fadeIn();
					setTimeout(function(){
						$("#msg_box").fadeOut();
					}, 2000)
				}

		</script>

		<script src="{% static 'mainapp/js/login.js' %}"></script>
		<script src="{% static 'mainapp/js/main.js' %}"></script>
	</body>
