body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	font-family: arial, verdana;
}

#main_header{
	position: absolute;
	background: rgba(0,0,0,.2);
	color: #fff;
	width: 100vw;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding: 0 50px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#main_header nav {
	display: flex;
	align-items: center;
}

#main_header nav li{
	list-style: none;
	
}

#main_header nav li a{
	text-decoration: none;
	color: #fff;
	background: #9c283e;
	padding: 10px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	cursor: pointer;
}

#svg_container{
	width: 100vw;
	/*height: 100vh;*/
	overflow: hidden;
}


/*#svg_container #statue1 *{
	z-index: 10;
}
#svg_container #player_girl *{
	z-index: 1;
}*/

#header_info{
	display: flex;
	/*width: 400px;*/
	align-items: center;
}

#header_info h2{
	font-size: 18px;
	color: #ddd;
	text-align: center;
	line-height: 50px;
	
}

#dev_info{
	position: absolute;
	bottom: 30px;
	right: 30px;
	min-width: 100px;
	/*line-height: 20px;*/
	background: #eee;
	text-align: center;
	opacity: 0.7;
	padding: 5px;
	font-size: 14px;
	border-radius: 4px;
}

#score{
	line-height: 50px;
	padding: 0 20px;
	color: #eee;
}