#building_names{
	z-index:1;
}
#all_content{
	margin: 20px;
}
#backdrop{
	z-index: 2;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.30);
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
					overflow: scroll;
					padding: 50px 0;
		box-sizing: border-box;
}

#backdrop .lightbox{
	width: 70vw;
	background: #49C2B8;
	overflow: hidden;
	border-radius: 15px;
	margin: auto;
}

#backdrop header{
	/*height: 70px;*/
	/*box-shadow: 0 4px 5px #aaa;*/
	/*overflow: contain;*/
	margin-top: -20px;
	display: flex;
	background: #49C2B8;
	flex-direction: row;
	color: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	font-weight: bold;
	font-family: courier,verdana;

}

#backdrop .close{
	float: right;
	margin-top: -30px;
	margin-right: -35px;
	line-height: 15px;
	width: 15px;
	text-align: center;
	color: #000;
	cursor: pointer;

	border: 1px solid #000;
	background: #FE3962;
	border-radius: 50%;
	padding: 1px;
}

#backdrop .heading{
	line-height: 70px;
	font-size: 30px;
	/*color: #676767;*/
}
#content p{
	width: 100%;
	align-content: center;
	text-align: center;
}

.text_content{
	text-align: center;
	margin: 5px;
	border-radius: 6px;
	padding: 30px;
	width: 91%;
	/*overflow-y: scroll;*/
	overflow-x: hidden;
	height: 100%;
	background-color: #FFFFFF;
}
.extras{
	width: 94%;
	/*align-content: center;*/
	display: flex;
	justify-content: center;
}
#continue,#submit{
	background-color: #6DD05B;
	border: 1px solid #338A50;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}
#submit{
	float: right;
}
#ans{
	width: 90%;
	margin: 5px;
	padding: 5px;
}
#continue{
	padding: 8px;
}

#msg_box{
	position: absolute;
	bottom: 0px;
	left: calc(50vw - 150px);
	width: 300px;
	height: 70px;
	background: rgba(0,0,0,0.8);
	border-radius: 6px;
	color: #fff;
	display: none;
	line-height: 70px;
	text-align: center;
}
